<% provide(:title, 'Categories') %>

<div class="container">
  <h1 class="title">Danh sách Loại sản phẩm của cửa hàng: <span style="color: deeppink"><%= @shop.name %></span></h1>
  <button type="button" class="btn btn-light"><%= link_to "Back", shop_path(@shop.id) %></button>

  <table class="table mt-5">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
