<% provide(:title, 'Edit Shop') %>
<% provide(:button_text, 'Save') %>

<div class="container">
  <h1 class="sign-up center title"> Edit Shop</h1>
  <button type="button" class="btn btn-outline-primary"><%= link_to "Back", shop_url %></button>

  <%= render "form", shop: @shop %>
</div>

