<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Save') %>

<div class="container">
  <h1 class="sign-up center title">Sign Up</h1>
  <button type="button" class="btn btn-outline-info"><%= link_to "Back", customer_path(current_customer) %></button>
  <%= render "form", customer: @customer %>
</div>
