<div class="col-md-4 mb-5">
  <div class="card item-cart">
    <% if product.images.length > 0 %>
      <img src="<%= product.images[0].img_src %>" class="w-100" >
    <% else %>
      <img src="https://freshome.com/wp-content/uploads/2018/09/contemporary-exterior.jpg" class="w-100">
    <%end %>
    <div class="card-body">
      <div style="display: flex; justify-content: space-between">
        <h5 class="card-title text-green"><b><%= product.name %></b></h5>
        <p class="card-text"><b><span style="color: red">Price:</span> <%= product.price %> $ </b></p>
      </div>
      <p class="card-text">Description: <%= product.description %>.</p>
    </div>
  </div>
</div>
