<% provide(:title, 'New Category') %>
<% provide(:button_text, 'Create') %>

<div class="container">
  <h1 class="sign-up center title">New Category</h1>
  <button type="button" class="btn btn-light"><%= link_to "Back", categories_path %></button>

  <%= render "form", category: @category %>
</div>
