<% provide(:title, 'Edit Product') %>
<% provide(:button_text, 'Save') %>

<div class="container">
  <h1 class="sign-up center title">Edit Product</h1>
  <button type="button" class="btn btn-light"><%= link_to "Back", product_url(@product.id) %></button>

  <%= render "form", product: @product %>
</div>
