<% provide(:title, 'Products By Shop') %>
<div class="container mt-2">
  <h1 class="title">Danh sách sản phẩm</h1>
  <% if check_shop_is_loggin?(current_shop) %>
    <button class="btn btn-outline-info"><%= link_to 'New Product', new_product_url %></button>
  <% end %>

  <div class="row mt-5">
    <% @products.each do |p| %>
      <%= render "products/product", product: p %>
    <% end %>
  </div>

  <div style="display: flex; justify-content: center">
      <h5><%= paginate @products %> </h5>
  </div>
</div>
