<% provide(:title, 'Register Product') %>
<% provide(:button_text, 'Create') %>

<h1 class="sign-up center title">New Product</h1>
<button type="button" class="btn btn-light"><%= link_to "Back", shop_products_url(@shop_id) %></button>

<%= render "form", product: @product %>
