<nav class="navbar-expand-lg navbar-light header">
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item d-flex" style="margin-left: 6em;">
        <p class="nav-link text-white info-header" href="#"><i class="fas fa-phone text-warning mr-2"></i>+(84)933381879</p>
      </li>
      <li class="nav-item ml-5">
        <p class="nav-link text-white info-header" href="#"><i class="fas fa-envelope-open text-warning mr-2"></i>vuvanson0203@gmail.com</p>
      </li>
      <li class="nav-item ml-5">
        <p class="nav-link text-white info-header">Thứ 2 - Thứ 6: 8:30 - 17:30</p>
      </li>
    </ul>
    <span class="navbar-text">
      <p><i class="fab fa-facebook text-white info-header"></i></p>
    </span>
    <span class="navbar-text" >
      <p><i class="fab fa-google-plus text-white info-header"></i></p>
    </span>

    <% if !logged_in_customer? %>
      <% if logged_in? %>
        <span class="navbar-text text-white" style="margin-right: 6em">
          <p><%= link_to "LogOut Shop", shops_logout_path, method: :delete, class: "text-white" %> <i class="fas fa-sign-out-alt"></i></p>
        </span>
      <% else %>
        <span class="navbar-text text-white">
          <p><%= link_to "LogIn Shop", shops_login_path, class: "text-white" %> <i class="fas fa-sign-in-alt"></i></p>
        </span>
      <% end %>
  <% end %>

    <% if !logged_in? %>
      <% if logged_in_customer? %>
        <span class="navbar-text text-white" style="margin-right: 6em">
          <p><%= link_to "LogOut Customer", customers_logout_path, method: :delete, class: "text-white" %> <i class="fas fa-sign-out-alt"></i></p>
        </span>
      <% else %>
        <span class="navbar-text text-white" style="margin-right: 6em">
          <p><%= link_to "LogIn Customer", customers_login_path, class: "text-white" %> <i class="fas fa-sign-in-alt"></i></p>
        </span>
      <% end %>
    <% end %>

  </div>
</nav>
